.groupList{
    padding: 20px;
    text-align: left;
}

.groupContainer{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.groupItem{
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    max-width: 800em;
}

.groupItem img {
    align-items: left;
    max-width: 125px;
    max-height: 125px;
    width: 100%;
}

.myHeader{
    padding: 20px;
    align-items: right;
}