.signInPage .mainContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: aliceblue;
}

.signInPage input {
    margin-bottom: 30px;
}

.signInPage button {
    margin-bottom: 10px;
}

