.signInPage {
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    align-items: center;
    height: 100vh;
}

.mainContainer {
    text-align: center;
}
.signInPage input {
    margin-bottom: 30px;
}

.signInPage button {
    margin-bottom: 10px;
}

