.signUpPage {
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    align-items: center;
    height: 100vh;

}

.mainContainer {
    text-align: center;
    

}

.signUpPage input {
    margin-bottom: 20px;
}

.signUpPage button {
    margin-bottom: 10px;
}